# Игнорировать папку __pycache__ - служебные файлы Python
__pycache__/

# Игнорировать временные файлы Python
*.pyc
*.pyo
*.pyd
*.py.class

# Игнорировать файлы настроек IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи
*.log

# Виртуальные окружения
.venv/

# Кэш pytest
.pytest_cache/

# Системные файлы
.DS_Store
